doclib
lib
dist
build
dist
deps
privateprops
.classpath
.project
.pydevproject
.settings
*.pyc
*.*~
manifest.mf
docs/Asap
docs/html
report
*.swp
*.log
.DS_Store
findbugs.html
log
*.launch
junit*.properties
